<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
    <div style="width: 90%;margin-left: 5%;">

      <h1>What the Facts!?</h1>
      <Hr />

      <div class="row">
        <div class="col-2">
	  <h3>Fetcher</h3>

	  <div class="form-group">
	    <label for="exampleInputlookup_key1">lookup_key</label>
	    <input type="text" class="form-control" id="lookup_key" name="lookup_key" placeholder="Enter lookup_key">

	  </div>

	  <h3>Facts</h3>
	  <form class="form-group" id="factform"></form>
	  <button name="debug" id="debug" class="btn btn-danger">Debug</button>
	  <button name="dump" id="dump" class="btn btn-danger">Dump</button>
	  <button name="fetch" id="fetch" class="btn btn-primary">Fetch</button>
	  <button name="fetch_list" id="fetch_list" class="btn btn-primary">Fetch List</button>
	  <button name="refresh_form" id="refresh_form" class="btn btn-primary">Refresh Form</button>
	</div>
	<div class="col-6">
	  <h3>Response from API</h3>
	  <p>All the data you requested.</p>
	  <pre id="result" name="result" class="prettyprint lang-py"></pre>
	  <h3>meta</h3>
	  <pre id="meta" name="meta" class="prettyprint lang-css"></pre>
	</div>

	<div class="col-4">
	  <h3>used sources</h3>
	  <p>Where we got the answers from</p>
	  <ul id="sources"></ul>
	  <h3>source hierachy</h3>
	  <p>Where we looked.</p>
	  <ul id="backends"></ul>
	</div>


	<script>
	 $(document).ready(function() {
	   writeForm();
	 });

	 $('#refresh_form').click(function() {
	   writeForm();
	 });

	 function writeForm() {
	   $("form").text('');
	   $.getJSON("/debug", function(data) {
	     for (var i=0; i < data.keys.length; i++) {
	       key = data.keys[i];
	       $("#factform").append(
		 '<label for="exampleInput' + key + '1">' +
		 key + '</label><input type="text" class="form-control" id="' +
		 key + '" name="' + key + '">'
	       );
	     }
	   });
	 }

	 function readForm() {
	   var data = {};
	   $("form").each(function() {
	     $(this).find(':input').each(function(index) {
	       input = $(this);
	       name = input.attr('name');
	       value = input.val();
	       if (value != '') {
		 data[name] = value;
	       }
	     });
	   });
	   return data;
	 }

	 function writeOutput(data) {
	   meta = data['_meta'];
	   delete data["_meta"];

	   $("#backends").text('');
	   $("#meta").text('');
	   $("#result").text('');
	   $("#sources").text('');

	   $("#result").text(JSON.stringify(data, null, 2));
	   $("#meta").text(JSON.stringify(meta, null, 2));

	   for (var i=0; i < meta.sources.length; i++) {
	     path = meta.sources[i];

	     $("#sources").append(
	       "<li>(" + i + ")<a href='/raw/" + encodeURIComponent(path) + "'>" + encodeURI(path) + "</a></li>"
	     );
	   }
	   for (var i=0; i < meta.applied_hierachy.length; i++) {
	     path = meta.applied_hierachy[i];

	     $("#backends").append(
	       "<li>(" + i + ")<a href='/raw/" + encodeURIComponent(path) + "'>" + encodeURI(path) + "</a></li>"
	     );
	   }
	 }

	 $('#dump').click(function() {
	   form = readForm();
	   $.getJSON("/dump", form, function(data){
	     writeOutput(data)
	   });
	 });

	 $('#debug').click(function() {
	   form = readForm();
	   $.getJSON("/debug", form, function(data){
	     writeOutput(data)
	   });
	 });

	 $('#fetch').click(function() {
	   form = readForm();
	   $.getJSON("/fetch/" + $("#lookup_key").val() + "/", form, function(data){
	     writeOutput(data)
	   });
	 });

	 $('#fetch_list').click(function() {
	   form = readForm();
	   $.getJSON("/fetch_list/" + $("#lookup_key").val() + "/", form, function(data){
	     writeOutput(data)
	   });
	 });

	</script>
      </div>
  </body>
</html>
